.main{
    background: #D3D3D3;
	
}

p{
	margin: 0;
}
.content{
	width: 412px;
	background: white;
	margin: 0 auto;
	padding: 45px 50px;
}
.header{
	text-align: center;
}

img{
	border-radius: 200px;
}
.inner{
	text-align: left;
	border-bottom: 1px solid gray;
	padding: 15px 15px 15px 15px;
}
.last{
	border-bottom: none;
}
.connect{
	padding: 0 0 15px;
}


img{
	width: 300px;
}

